/* Header */

.header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(white, green);
}

.header img {
    float: left;
    margin: 10px;
    width: 85px;
    height: 85px;
}

.header h1 {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.menu {
    margin: 40px 20px;
    float: right;
    width: 27%;
}

.menu i {
    margin-right: 20px;
    text-decoration: none;
    font-style: normal;
}

.menu a {
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
}


/* Badan forum */

.judul-halaman-atas {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.atas {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    height: 30vh;
}

.tabel-forum-atas {
    margin-left: 19%;
}

.tabel-forum-atas tr th {
    background: green;
    color: white;
    font-weight: normal;
}

.tabel-forum-atas th,
td {
    padding: 8px 20px;
    text-align: center;
}

.tabel-forum-atas tr {
    background-color: lightgreen;
}

.bawah {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    background-color: white;
    width: 100%;
    height: 40vh;
}

.tabel-forum-bawah {
    margin-left: 19%;
}

.judul-halaman-bawah {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.tabel-forum-bawah tr th {
    background: green;
    color: #fff;
    font-weight: normal;
}

.tabel-forum-bawah th,
td {
    padding: 8px 20px;
    text-align: center;
}

.tabel-forum-bawah tr {
    background-color: lightgreen
}
button[type='button'] {
    width: 15%;
    height: 40px;
    background-color: lightgreen;
    border: 2px green;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    justify-content: center;
    margin-left: 42%;
    margin-bottom: 100px;
}


/*footer*/

.footer {
    width: 100%;
    height: 80px;
    position: absolute;
    background-image: linear-gradient(green, white);
}

.footer h2 {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 33px 30px;
}

.Medsos {
    margin-top: 20px;
    float: right;
}

.Medsos a {
    float: right;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
}

.whatsapp {
    margin: 10px 25px;
    background: rgb(0, 207, 10);
    color: white;
}

.twitter {
    margin: 10px 25px;
    background: #55ACEE;
    color: white;
}

.facebook {
    margin: 10px 25px;
    background: #3B5998;
    color: white;
}
